#sketcher {
	font-family: "Trebuchet MS";
	font-size: 14pt;
	background-color: #f8f8f8;
	text-align: center;
	margin: 0;
	padding: 4px;
}

#sketcher canvas {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	display: inline-block;
	margin: 4px;
}

#sketcher #tools {
	margin: 0 auto;
	text-align: left;	
	display: inline-block;
	vertical-align: top;
}

#sketcher .palettine {
	cursor: pointer;
	width: 100%;
	height: 100%;
}

#sketcher #palette {
	overflow-y: scroll;
	height: 200px;
	width: 360px;
}

#sketcher #palette table {
	border-collapse: collapse;
}

#sketcher #palette table tr td{
	height: 20px;
	width: 20px;
	margin: 0;
	font-size: 11pt;
}

#sketcher input, #sketcher select {
	font-family: "Trebuchet MS";
	font-size: 14pt;	
	margin: 1px;
}

#sketcher input[type="text"] {
	width: 64px;
}

#sketcher .button, #sketcher .button-active, #sketcher .button-disabled {
	cursor: pointer;
	padding: 2px;
	display: inline-block;
	border: 1px solid #acacac;
	width: 32px;
	height: 24px;
	text-align: center;
	font-family: "Arial Unicode MS";
	font-size: 11pt;
	font-weight: bold;
	margin-left: 2px;
	margin-right: 2px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#sketcher .button {
	background-color: #f0f0f0;
	background: -moz-linear-gradient(top, #f0f0f0, #e5e5e5);
}

#sketcher .button-active {
	background-color: #c4e0fc;
	background: -moz-linear-gradient(top, #c4e0fc, #daecfc);
	border-color: #569de5;
}

#sketcher .button-disabled {
	color: #d9d9d9;
	border-color: #d9d9d9;
	cursor: default;
}

#sketcher .button:hover {
	background-color: #ecf4fc;
	background: -moz-linear-gradient(top, #ecf4fc, #dcecfc);
	border-color: #7eb4ea;
	
}

#sketcher .button-active:hover {
	background-color: #daecfc;
	background: -moz-linear-gradient(top, #daecfc, #c4e0fc);
	border-color: #7eb4ea;
}

#sketcher .vertical {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	height: 24px;
	border-left: 1px solid #acacac;
	width: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: "Arial Unicode MS";
	font-size: 11pt;
	color: transparent;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#sketcher #color {
	width: 80px;
}
