* {
	padding: 0px;
}

body {
	font-family: "Trebuchet MS";
	font-size: 14pt;
	background-color: #f8f8f8;
	text-align: center;
}

header {
	background-color: #eee;
	text-align: left;
}

canvas {
	margin: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#tools {
	margin: 0 auto;
	text-align: left;	
	display: inline-block;
	vertical-align: top;
}

#help {
	font-size: small;
}

.palettine-tool {	
	width: 32px;
	height: 32px;
	border: 1px solid black;
	margin: 1px;
	display: inline-block;
	vertical-align: middle;
}

.palettine {
	cursor: pointer;
	width: 100%;
	height: 100%;
}

#palette {
	overflow-y: scroll;
	height: 200px;
	width: 340px;
}

#palette table {
	border-collapse: collapse;
}

#palette table tr td{
	height: 20px;
	width: 20px;
	margin: 0;
	font-size: 12pt;
}

form {
	display: inline-block;
}

input, select {
	font-family: "Trebuchet MS";
	font-size: 14pt;	
	margin: 1px;
}

input[type="text"] {
	width: 64px;
}

.button, .button-active, .button-disabled {
	cursor: pointer;
	padding: 2px;
	display: inline-block;
	border: 1px solid black;
	width: 32px;
	height: 32px;
	text-align: center;
	font-family: "Arial Unicode MS";

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button {
	background-color: #ddd;
}

.button-active {
	background-color: #0cf;
}

.button-disabled {
	color: gray;
	cursor: default;
}

.button:hover {
	background-color: #eee;
}

.button-active:hover {
	background-color: #bef;
}

.vertical {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	height: 32px;
	border-left: 1px solid black;
	width: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: "Arial Unicode MS";
}

#color {
	width: 80px;
}

#slidersT {
	display: none; /*TBD*/
}